// DOCS: https://github.com/niri-wm/niri/wiki/Getting-Started

// Top level settings
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M.png"

// autostart 
spawn-at-startup "noctalia-shell"

// Input settings
input {
  keyboard {
    xkb {
      layout "de"
      variant "deadacute"
      options "grp:alt_shift_toggle"
      // file "~/.config/keymap.xkb"
    }
  }
  focus-follows-mouse max-scroll-amount="25%"
  warp-mouse-to-focus

  touchpad {
    // off
    tap
    // dwt
    // dwtp
    // drag false
    // drag-lock
    natural-scroll
    // accel-speed 0.2
    // accel-profile "flat"
    // scroll-factor 1.0
    // scroll-factor vertical=1.0 horizontal=-2.0
    // scroll-method "two-finger"
    // scroll-button 273
    // scroll-button-lock
    // tap-button-map "left-middle-right"
    // click-method "clickfinger"
    // left-handed
    // disabled-on-external-mouse
    // middle-emulation
    }

  mouse {
    // off
    // natural-scroll
    // accel-speed 0.2
    // accel-profile "flat"
    // scroll-factor 1.0
    // scroll-factor vertical=1.0 horizontal=-2.0
    // scroll-method "no-scroll"
    // scroll-button 273
    // scroll-button-lock
    // left-handed
    // middle-emulation
  }
  trackpoint {
    // off
    // natural-scroll
    // accel-speed 0.2
    // accel-profile "flat"
    // scroll-method "on-button-down"
    // scroll-button 273
    // scroll-button-lock
    // left-handed
    // middle-emulation
  }
}

cursor {
  //xcursor-theme "breeze_cursors"
  xcursor-size 48
  
  // hide-when-typing // this has some issues with FPS-games
  hide-after-inactive-ms 3000
}

// hotkey-overlay
hotkey-overlay {
  hide-not-bound
}

binds {
// Core Noctalia binds
  Mod+Space hotkey-overlay-title="Toggle app-launcher" { spawn-sh "noctalia-shell ipc call launcher toggle"; }
  //Mod hotkey-overlay-title="Toggle start" { spawn-sh "noctalia-shell ipc call controlCenter toggle"; }
  Mod+S hotkey-overlay-title="Toggle settings" { spawn-sh "noctalia-shell ipc call settings toggle"; }
  Mod+Ctrl+L hotkey-overlay-title="Lock screen" { spawn-sh "noctalia-shell ipc call lockScreen lock"; }
  Mod+W hotkey-overlay-title="Close focued window" { close-window; }


// Audio & Brightness
  XF86AudioRaiseVolume { spawn "noctalia-shell" "ipc" "call" "volume" "increase"; }
  XF86AudioLowerVolume { spawn "noctalia-shell" "ipc" "call" "volume" "decrease"; }
  XF86AudioMute { spawn "noctalia-shell" "ipc" "call" "volume" "muteOutput"; }
  XF86MonBrightnessUp { spawn "noctalia-shell" "ipc" "call" "brightness" "increase"; }
  XF86MonBrightnessDown { spawn "noctalia-shell" "ipc" "call" "brightness" "decrease"; }

  Mod+Return hotkey-overlay-title="Start terminal" { spawn "alacritty"; }
  Mod+B hotkey-overlay-title="Start browser" { spawn "firefox"; }

  // Workspaces
  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }
  Mod+Shift+1 { move-column-to-workspace 1; }
  Mod+Shift+2 { move-column-to-workspace 2; }
  Mod+Shift+3 { move-column-to-workspace 3; }
  Mod+Shift+4 { move-column-to-workspace 4; }
  Mod+Shift+5 { move-column-to-workspace 5; }
  
  // Focus navigation  
  Mod+H { focus-column-left; }  
  Mod+K hotkey-overlay-title="Focus workspace above" { focus-workspace-up; }
  Mod+J hotkey-overlay-title="Focus workspace below" { focus-workspace-down; } 
  Mod+L { focus-column-right; }  
  // alternative arrowkeys
  Mod+Up hotkey-overlay-title="Focus workspace above" { focus-workspace-up; }
  Mod+Down hotkey-overlay-title="Focus workspace below" { focus-workspace-down; } 

  // Move windows/columns  
  Mod+Shift+H { move-column-left; }
  Mod+Shift+J { move-window-down; }  
  Mod+Shift+K { move-window-up; }
  Mod+Shift+L { move-column-right; } 
  // alternative arrowkeys
  Mod+Shift+Left { move-column-left; }
  Mod+Shift+Down { move-window-down; }  
  Mod+Shift+Up { move-window-up; }
  Mod+Shift+Right { move-column-right; } 

  Mod+F { maximize-window-to-edges; }

  // Screenshot by selection setup
  Print { spawn "sh" "-c" "grim -g \"$(slurp)\" - | satty --filename -"; }
}

// Indicate screencasted windows with red border
window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

// noctalia config
layout {
    gaps 5

    focus-ring {
	width 0.5
        active-color   "#c8bfff"
        inactive-color "#141316"
        urgent-color   "#ffb4ab"
    }

    border {
	width 1
        active-color   "#c8bfff"
        inactive-color "#141316"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#c8bfff"
        inactive-color "#473a8d"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#c8bfff80"
    }
}

recent-windows {
    highlight {
        active-color "#c8bfff"
        urgent-color "#ffb4ab"
    }
}
